
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300;400;700;800&display=swap');



*,*::before,*::after{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffFfff;
}

.header{
    display: flex;
    justify-content: center;
}

.header-content{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.top{
    margin-left: 250px;
}

.menu{
    list-style-type: none;
    width: 800px;
    font-family: 'Lato', sans-serif;
    padding-top: 10px;
}

.menu li{
    height: 30px;
    padding: 10px;
}

.menu li:hover{
    background-color:#ffbb42;
    border-radius: 5px;
    border-width: 2px;      
    text-align: center;

}

.menu a{
    text-decoration: none;
    text-align: center;
    color: grey;
    text-transform: uppercase;
    line-height: 40px;
}

.menu a:hover{
    color: #ffFfff;
}

.menu li{
    display: inline;
}

.ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

.banner{
    background-color: #709dca;
    height: 450px;
}


.text{
    color:#ffFfff;
    text-align: center;
    padding-top: 40px;

    font-family: 'Open Sans', sans-serif;
}

.text h2{
    font-family: 'Open Sans', sans-serif;
}

.text p{
    font-size: 13px;
}

.label{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    font-family: 'Open Sans', sans-serif;
}


.button1{
    color: #ffFfff;
    background-color: #ffbb42;
    border-radius: 5px;
    padding: 10px 20px;    
    text-align: center;
    text-decoration: none;
}

.laptop{
    text-align: center;
}

.lp{
    margin-top: 21px;
}


.heading{
    margin-top: 200px;
    text-align: center;
    clear: both;
}

.headtext{
    color: #394b50;
    font-family: 'Open Sans', sans-serif;
}

.headtext p{
    font-size: 13px;
}

.content{
    display: flex;
    padding: 20px;
    align-items: center;
}

.content h2{
    font-family: 'Lato', sans-serif;
}

.content p{
    font-family: 'Open Sans',  sans-serif;
    font-size: 13px;
}

.left-block{
    
    font-size: 13px;
    font-family: 'Lato',sans-serif;
    margin-left: 200px;    
}


.right-block{
    font-size: 13px;
    font-family: 'Lato',sans-serif;
    margin-right: 200px;
    padding-left: 90px;
}

.service_item{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
    align-items:center;
    text-align: left;
}

.srv{
    padding-left: 20px;
}

.footer{
    align-items: stretch;
    display: flex;
    background-color: #ffbb42;
    height: 450px;
}


.text2{
    text-align: center;
    height: 450px;
    color: #ffFfff;
    font-family: 'Open Sans', sans-serif;
}

.text2 p{
    font-family: 'Open Sans', sans-serif;
}

.text2 h2{
    text-align: left;
}

.text2 p{
    font-size: 13px;
    text-align: left;
}

.button{
    text-decoration: none;
    text-align: center;
    height: 40px;
    padding: 10px;
    padding-left: 0px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.button a{
    text-decoration: none;
    border-style: solid;
    border-color: #e7ad48;
    border-width: 1px;
    padding: 5px;
    color: #ffFfff;
    font-family: 'Open Sans', sans-serif;
}

.right_footer{
    padding-left: 50px;
    padding-top: 80px;
    padding-right: 45px;

}